@{
    var nowPage = ViewBag.NextPage - 1;
    var Last = ViewBag.LastPage;
    var totals = ViewBag.Total;
 }
<p class="rightzore">
    <strong>当前在第 <b>@nowPage</b> 页，总页数：<b>@Last</b> , 总数：<b>@totals</b></strong>
</p>
