<h2><a href="/">Home</a></h2>
<h2>Groups:</h2>
<%= grid(@igroups_grid) do |g|
    g.column name:  'ID'  do |igroup|
    igroup.id
    end

    g.column name: 'Title' do |igroup|
       igroup.title
    end
    g.column name: 'Select count' do |igroup|
       igroup.select_count
    end
    g.column name: 'Active' do |igroup|
       igroup.active
    end
    g.column name: 'Create Man' do |igroup|
       igroup.create_man
    end
    g.column name: 'Update Man' do |igroup|
       igroup.update_man
    end
   g.column name: 'Create At' do |igroup|
       igroup.created_at
    end
    g.column name: 'Update At' do |igroup|
       igroup.updated_at
    end
  g.column name: 'Content' do |igroup|
       igroup.content
    end
    g.column do |igroup|
    link_to('Edit', edit_igroup_path(igroup))
    end

    g.column do |igroup|
    link_to('New', new_igroup_path)
    end

    g.column do |igroup|
    link_to('Destroy', igroup, method: :delete, data: { confirm: "Are you sure?" })
    end
 end %>
<div>
<h2>Users:</h2>
<%= grid(@users_grid) do |g|
    g.column name:  'ID'  do |user|
    user.id
    end

    g.column name: 'Email' do |user|
       user.email
    end
   g.column name: 'Sing in Count' do |user|
       user.sign_in_count
    end
    g.column name: 'current_sign_in_at' do |user|
       user.current_sign_in_at
    end
    g.column name: 'current_sign_in_ip' do |user|
       user.current_sign_in_ip
    end
   g.column name: 'Create At' do |user|
       user.created_at
    end
    g.column name: 'Update At' do |user|
       user.updated_at
    end
    g.column do |user|
    link_to('Edit', edit_user_registration_path(user))
    end

    g.column do |user|
    link_to('New', new_user_registration_path)
    end

    g.column do |user|
    link_to('Destroy', registration_path(user), method: :delete, data: { confirm: "Are you sure?" })
    end
 end %>

</div>
<h2>Menus</h2>
<%= grid(@imenus_grid) do |g|
    g.column name:  'ID'  do |imenu|
    imenu.id
    end
    g.column name:  'Title' do |imenu|
       imenu.title
    end
    g.column name:  'Children'  do |imenu|
       imenu.children
    end
    g.column name: 'Data' do |imenu|
       imenu.data
    end
    g.column name: 'Content' do |imenu|
       imenu.content
    end
    g.column name: 'Version' do |imenu|
       imenu.version
    end
    g.column name: 'Create Man' do |imenu|
       imenu.create_man
    end
    g.column name: 'Edit Man' do |imenu|
       imenu.edit_man
    end
   g.column name: 'Create At' do |imenu|
       imenu.created_at
    end
    g.column name: 'Edit At' do |imenu|
       imenu.updated_at
    end
    g.column do |imenu|
    link_to('Edit', edit_imenu_path(imenu))
    end

    g.column do |imenu|
    link_to('New', new_imenu_path)
    end

    g.column do |imenu|
    link_to('Destroy', imenu, method: :delete, data: { confirm: "Are you sure?" })
    end
 end %>

<h2>Menuboms</h2>

<%= grid(@menuboms_grid) do |g|
    g.column name:  'ID'  do |menubom|
    menubom.id
    end
    g.column name:  'Menu Parent' do |menubom|
       menubom.menu_parent
    end
    g.column name:  'Menu Children'  do |menubom|
       menubom.menu_children
    end
    g.column name: 'Start Date' do |menubom|
       menubom.start_date
    end
    g.column name:'End Date' do |menubom|
       menubom.end_date
    end
    g.column name: 'Select count' do |menubom|
       menubom.select_count
    end
    g.column name: 'Active' do |menubom|
       menubom.active
    end
    g.column name: 'Create Man' do |menubom|
       menubom.create_man
    end
    g.column name: 'Update Man' do |menubom|
       menubom.update_man
    end
   g.column name: 'Create At' do |menubom|
       menubom.created_at
    end
    g.column name: 'Update At' do |menubom|
       menubom.updated_at
    end
  g.column name: 'Content' do |menubom|
       menubom.content
    end
    g.column do |menubom|
    link_to('Edit', edit_menubom_path(menubom))
    end

    g.column do |menubom|
    link_to('New', new_menubom_path)
    end

    g.column do |menubom|
    link_to('Destroy', menubom, method: :delete, data: { confirm: "Are you sure?" })
    end
 end %>

