
/*----------------------------------------------------------*/
.display-label, .editor-label
{
    position: relative;
    padding:5px;
    max-height: 1.5em;
    min-width: 5em;
    font-weight:bold;
    text-align:right;
    background-color:transparent;
}

.display-field, .editor-field
{
    position: relative;
    max-height: 1.5em;
    min-width: 6em;
    text-align: left;
    font-weight:bold!important;
    background-image:none;
}
.editor-field.ReadOnly
{
    background: red;
    height: 1em;
}
.text-box
{
    position: relative;
    left: 0;
    width: 100% !important;
    background-color:White!important;
    color:Black!important;
}
.single-line
{
    height: 1.5em;
}
.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
/* Styles for editor and display helpers
----------------------------------------------------------*/
.inputright
{
    position: absolute;
    top: 2px;
    right: -8px;
    color: Red;
    z-index: 999;
}
.inputtop
{
    position: absolute;
    top: -15px;
    right: 0;
    color: Red;
    z-index: 999;
}
.two
{
    width: 2em;
}
.three
{
    width: 4em;
}
.six
{
    width: 8em;
}
.hone
{
    height: 1.5em;
}
.htwo
{
    height: 2em;
}
.hthree
{
    height: 3em;
}
