
/* MISC  
----------------------------------------------------------*/
.click
{
    background-color: #9999FF;
}

.clear
{
    clear: both;
}

.error
{
    color: Red;
}
.cursor
{
    cursor: pointer !important;
}

.min
{
    width: 0px !important;
    height: 0px !important;
}
.max
{
    width: 100% !important;
}
.right
{
    position:relative;
    right: 0;
    text-align: right !important;
}
.center
{
    position:relative;
    left: 50%;
    text-align: center !important;
}
.left
{
    position:relative;
    left: 0;
    text-align: left !important;
}
.justify
{
    text-align: justify !important;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.hidden
{
}

/*foot                                        */
div#site_info p
{
    color: #000;
}

div#branding
{
    position: relative;
    background: transparent url(images/Home/top.jpg) no-repeat 0 0;
    z-index: 100;
}

div#branding blockquote
{
    position: absolute;
    top: -9999px;
}

/*********************dialog***********/
div#dialog_features, div#dialog_tool, div#dialog_others
{
    width: 0;
    height: 0;
}

div#site_info
{
    position: relative;
    float: left;
    width: 100%;
    height: 120px;
    background: transparent url(images/Home/site_info.jpg) no-repeat 0 0;
}
div#site_info h5
{
    position: absolute;
    top: 15px;
    right: 10px;
    width: 150px;
    height: 70px;
    background: transparent url(images/Home/info_logo.gif) no-repeat;
}
div#site_info h5 a
{
    display: block;
    width: 150px;
    height: 70px;
    text-indent: -9999px;
    color: red;
}
div#site_info p
{
    position: relative;
    left: 20px;
    top: 60px;
    margin: 0;
}

/**************************************dialog**********************/

div#CompanyAchievements
{
    position: relative;
    top: 0px;
    width: 100%;
}
h3#CompanyAchievements_img
{
    position: relative;
    top: 0px;
    left: 35px;
    width: 337px;
    height: 75px;
    background: transparent url(../CompanyAchievements/images/CompanyAchievements.png) no-repeat;
}
