/* Iframe -
--------------------------------------------*/
iframe
{
    position: relative;
    width: 512px;
    height: 512px;
}
/* Iframe -
---------------left,center,right-----------------------------*/

iframe.lefti
{
    left: -10px;
}
/* Iframe -
---------------left,center,right-----------------------------*/

.iframedetails
{
    position: relative;
    top: 0px;
    left: 0px;
    margin: 0 0 0 -17.5px;
    overflow: scroll;
}
.CreateItem
{
    position: relative;
    top: 0;
    left: -10px;
    margin: 0;
    padding: 0;
}
/**************************************************************/
iframe.Editdetails
{
    position: relative;
    top: -5px;
    left: 0px;
    min-height: 580px;
    width: 100%;
}
iframe.details
{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 250px;
}
iframe.detailsCreate
{
    position: relative;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 260px;
}
iframe#dialogtools
{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
/**************************************************************/
iframe#meErp
{
    position: relative;
    display: block;
    left: 30%;
    top: 30px;
    width: 90%;
    height: 90%;
    min-height:560px;
    min-width: 560px;
    overflow: hidden;
    background-color: transparent !important;
    background-image: none !important;
    _width:560px;
    _height:560px;
}
