#tabs_show
{
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 98%;
}
#tabs_show > div
{
    width: 98%;
    height: auto;
    overflow: hidden;
}


#tabs_show li span
{
    position: relative;
    float: left;
    margin: 5px 2px 5px 2px;
    cursor: pointer;
}

#add_tab
{
    cursor: pointer;
}
.tabsindex
{
    position: relative;
    top: -10px;
    left: 0;
    overflow: hidden;
    height: 650px;
    width: 100%;
}
.tabsdetails
{
    position: relative;
    top: -5px;
    left: -15px;
    min-height: 550px;
    width: 100%;
}

.tabschild
{
    position: relative;
    overflow: hidden;
    top: 0;
    left: -8px;
    width: 100%;
    height: 185px;
    margin: 5px 0 10px 0;
}
.tabschildofchild
{
    position: relative;
    top: 0;
    left: -15px;
    width: 100%;
    height: 185px;
}
