#header
{
    position: relative;
    top: 0;
    height: 111px;
    border: 0;
    z-index: 90;
}
/*go head*/
.slide
{
    position: relative;
    top: 0;
    right: 0;
    color: Red; /*background: url(/content/Images/btn-slide.gif) no-repeat center top;*/
}
.btn-slide
{
    /*background: url(/content/Images/white-arrow.gif) no-repeat right -50px;*/
    position: absolute;
    right: 2px;
    top: -7px;
    cursor: pointer;
    text-align: right;
    display: block;
    text-decoration: none;
}
.active
{
    top: 5px;
}
.activetop
{
    margin-top: 10px;
}

/****************************************************************************/
div#title
{
    position: relative;
    top: 0;
    left: 0;
    height: 68px;
    width: 50%;
    text-align: left;
    z-index: 80;
}
div#title h1
{
    position: relative;
    left: 0;
    top: 15px;
}
div#title h1 a
{
    position: relative;
    width: auto;
    font-weight: bold;
    font-size: 32px;
    text-shadow: 1px 1px 2px #111;
    text-decoration: none;
}

#menucontainer
{
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    height: 43px;
    border: 0;
    z-index: 98;
}
#menuall
{
    position: relative;
    top: 0;
    width: 100%;
    border: 0;
    z-index: 98;
}

/* TAB MENU   
---------------------------------------------------------*/

div .widthbig
{
    left: 0 !important;
    width: 100% !important;
}

#main
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 90;
_height:490px;
}

#nav_user_content_top
{
    position: relative;
    top: 0;
    left: 10px;
    font-size: 1.5em;
    z-index: 99;
}
div#ToolBar
{
    position: absolute;
    background-image: none;
    background-color: transparent;
    top: 30px;
    left: 0;
    z-index: 98;
}
/*
 content
  
*/

div#nav_user_content_main
{
    position: absolute;
    top: 65px;
    width: 26.3%;
    z-index: 97;
}
div#nav_grids
{             
   overflow:auto;
   position:relative;
   top:0;
   width:100%;
   z-index:0;
}

div#nav_user_content_main_nav ul li
{
    list-style-type: circle;
    width: 80%;
    border-style: none none groove none;
    padding: 0.5em;
}

div#nav_user_content_sub
{
    position: absolute;
    top: 65px;
    left: 26.4%;
    width: 76%;
    z-index: 97;
}

div#leftorright
{
    position: absolute;
    top: 75px;
    left: -15px;
    width: 1em;
    cursor: pointer;
    z-index: 100;
}

/*
Back to top button 
*/
#back-top
{
    position: fixed;
    bottom: 30px;
    width: 110px;
    z-index: 999;
    margin-left: 120px;
}
.right
{
    right: 10px;
}

#back-top a
{
    width: 108px;
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #bbb; /* background color transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top a:hover
{
    color: #000;
}
/* arrow icon (span tag) */
#back-top span
{
    width: 108px;
    height: 108px;
    display: block;
    margin-bottom: 7px;
    background: #ddd url(images/up-arrow.png) no-repeat center center; /* rounded corners */
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px; /* background color transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top a:hover span
{
    background-color: #777;
}

/* ie6 */
a:hover
{
    border: none;
}
/** ie7 */

*html #footer
{
    position: absolute;
    left: auto;
    right: auto;
    bottom: 0;
    
}
#backclock
{
    position: fixed;
    left: -50px;
    bottom: 40px;
    overflow: hidden;
    width: 450px;
    border-radius: 15px;
    height: 500px;
    display: none;
}
iframe#clock
{
}


.ui-tabs-nav li {position: relative;}

.ui-tabs-selected a span {padding-right: 10px;}

.ui-tabs-close {display: none;position: absolute;top: 3px;right: 0px;z-index: 800;width: 16px;height: 14px;font-size: 10px; font-style: normal;cursor: pointer;}

.ui-tabs-selected .ui-tabs-close {display: block;}

.ui-layout-west .ui-jqgrid tr.jqgrow td { border-bottom: 0px none;}

.ui-datepicker {z-index:1200;}

.rotate

    {

        /* for Safari */

        -webkit-transform: rotate(-90deg);



        /* for Firefox */

        -moz-transform: rotate(-90deg);



        /* for Internet Explorer */

        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

    }

