
#dialog label, #dialog input
{
    display: block;
}
#dialog label
{
    margin-top: 0.5em;
}
#dialog input, #dialog textarea
{
    width: 95%;
}
#dialog_select,#dialog_tools,#dialog_Create
{
    z-index: 999!important;
}
p.ui-xlgwr .ui-icon
{
    position: relative;
    float: left;
    margin: 0.4em 0.5em 0 0.5em;
    cursor: pointer;
    z-index: 999;
}
p.ui-xlgwr
{
    position: absolute;
    top: -15px;
    right: 0px;
    display: inline;
    height: 1em;
    z-index: 999;
}
.dialogtools
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height:auto;
}

