/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

div#branding,div#site_infog{
width:100%;
}
div#branding
{
  position:relative;
  float:left;
  top:0;
  height:120px;
 
}
div#nav_main
{
  position:relative;
  float:left;
  top:0;
  width:100%;
  height:75%;
 
}
div#site_info{
   position:relative;
   float:left;
   margin:0;
   height:15%;
}

div#content_main_nav,div#nav_pt_n_content_main,div#content_main_nav_sp,div#content_main_nav_ep,div#content_main_nav_cu
{
    position:absolute;
    left:0.5%;
    width:26.3%;
 }

 div#content_main_nav li,div#nav_pt_n_content_main li,div#content_main_nav_sp li,div#content_main_nav_ep li,div#content_main_nav_cu li
{
    list-style-type:circle;
    width:auto;
    border-style: none none groove none;
}
div#content_main,div#nav_pt_n_content_sub,div#content_main_sp,div#content_main_ep,div#content_main_cu{
   position:relative;
   left:26.3%;
   width:76%;
}
/*dddddddddddddddddddd*/
